@font-face {
    font-family: "Trajan";
    src: local("Trajan"), url(../fonts//Trajan.ttf) format("truetype");
}

.my-recipe-cards-container {
  margin-top: 50px;
  padding: 50px 30px;
}

.my-recipe-cards-container .card {
  padding: 40px 10px 10px 20px;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border: none;
  background-image: url('../img/backgrounds/cards-bg.jpg');
  border: 2px solid #8A2604;
  height: 500px;
}

.my-recipe-cards-container img {
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  width: 25.5rem;
  height: 230px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border-radius: 10px;
}

.recipe-cards-title-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
  color: white;
  font-family: "Trajan";
  color: lightgray;
  font-size: 19px;
}

.card-information-container {
  display: flex;
  justify-content: space-between;
  color: white;
}

#cards-like-button {
  font-family: "arial";
  display: inline-flex;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  padding: .5rem 1rem;
  align-items: center;
  margin-top: 1rem;
  border: none;
  background-color: #C7B653;
  /* background-color: #8A2604; */
}

.card-dish-type {
  border-right: 2px solid  #903403;
  width: 33%;
}

#world-icon {
  font-size: 20px;
  margin: 0 5px 3px 0;
  color: #D1C28B;
}

.card-dish-time {
  border-right: 2px solid #903403;
  width: 30%;
  text-align: center;
}

#time-icon {
  font-size: 23px;
  margin: 0 5px 3px 0;
  color: #D1C28B;
}

.card-dish-level {
  width: 37%;
  text-align: center;
}

#level-icon {
  font-size: 23px;
  margin: 0 5px 3px 0;
    color: #D1C28B;
}

.card-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

a.show-more-card {
  padding-top: 15px;
  color: lightgray;
}