/* @font-face {
    font-family: "CulinaryArt";
    src: local("CulinaryArt"), url(../fonts//CulinaryArt.ttf) format("truetype");
}

@font-face {
    font-family: "DjKitchen";
    src: local("DjKitchen"), url(../fonts//DjKitchen.ttf) format("truetype");
}

@font-face {
    font-family: "LcrKitchen";
    src: local("LcrKitchen"), url(../fonts//LcrKitchen.ttf) format("truetype");
} */

.profile-settings-pagewrapper {
    height: 100vh;
    width: 100vw;
    margin: 0;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-settings-pagewrapper h4 {
    text-align: center;
    padding: 50px 0;
    font-family: "Trajan";
}

.profile-settings-form {
    width: 50%;
}

.country-select-container select {
    border: 1px solid lightgray;
    margin-top: 10px;
    padding: 8px;
    border-radius: 4px;
    width: 49.6%;
    color: #606060;
}

.edit-avatar-container {
    display: flex;
    justify-content: center;
    align-items: row;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin-top: 30px;
    padding: 8px;
}

.file-input-edit-avatar {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

#culinary-preferences {
    margin-top: 30px;
}

.diets-container {
    display: inline-block;
    width: 50%;
}

.preferences-container {
    display: flex;
}

#diets-checkbox-column {
    margin-top: 8px;
}

.diet-images {
    float: left;
    width:  30px;
    height: 30px;
    object-fit: cover;
    margin: 0 5px;
    padding: 2px;
}

.culinary-level-form-container {
    display: inline-block;
    width: 50%;
    padding-top: 8px;
    text-align: center;
}