.hola {
    border: 1px solid red;
}

.carousel-item {
    border: 5px solid red;
    height: 700px;
    background-color: black;
    color: white;
}

span.button-next {
    margin-top: 600px;
    border: 1px solid red;
}

span.button-prev {
    margin-top: 600px;
    border: 1px solid red;
}